<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Sign In</h1>
  <form action="/admin" method="POST">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username">

    <label for="username"><b>Username</b></label>
    <input type="password" placeholder="Enter password" name="password">

    <input type="submit" value="login" class="btn">
  </form>
  <h1>Register</h1>
  <form action="/register" method="POST">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username">

    <label for="username"><b>Username</b></label>
    <input type="password" placeholder="Enter password" name="password">

    <input type="submit" value="register" class="btn">
  </form>
</body>
</html>