<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://kit.fontawesome.com/6d1b076afc.js" crossorigin="anonymous"></script>
</head>
<body>
  <header class="header">
    <a href="/" class="header__logo">Blog</a>
    <nav class="header__nav">
      <ul>
        <li>
          <a href="/" class="">Home</a>
        </li>
        <li>
          <a href="/about" class="">About</a>
        </li>
        <li>
          <a href="/contact" class="">Contact</a>
        </li>
        <li>
          <a href="/dashboard" class="">Dashboard</a>
        </li>
      </ul>
    </nav>
    <div class="header__button">
      <button class="searchBtn" aria-expanded="false">
        Search
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </div>
  </header>
</body>
</html>