<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="author">
    <h1 class="author__heading">Search results</h1>
  </div>
  <section class="articles">
    <ul class="article-ul">
      <% data.forEach(post => { %>
       <li>
        <a href="/post/<%= post._id %>">
        <span><%= post.title  %></span></a>
        <h6 class="article-list__data"><%= post.createdAt.toDateString() %></h6>
       </li>
      <% }) %>
    </ul>
  </section>
</body>
</html>